@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    /* Font family */
    --font-bricolage: "Bricolage Grotesque", sans-serif;
    --font-roboto: "Roboto", sans-serif;

     /* brakpoint */
    --breakpoint-1xl: 90rem;    /* 1440px */

    /* shadow */
    --shadow-3xl: 0px 4px 24px rgba(0, 0, 0, 0.05);

    /* color */
  --color-body: #6D6D6D;
  --color-primary: #222222;
  --color-secondary: #DD3142;
  --color-dark-primary: #17134a;
  --color-blue-primary: #3a30ba;
  --color-forbackground-primary: #FFF9F3;

  /* border radius */
  --radius-ex-sm: 0.313rem;    /* 5px */



  }

  body{
    @apply text-xs text-body leading-normal font-roboto font-normal min-w-80
  }
  button{
    @apply cursor-pointer
  }

  .service li{
    @apply  relative before:absolute before:w-[15px] before:h-[15px] before:border-3 before:border-secondary before:rounded-full
  }

  @layer base{
    h1,
    .h1{
      @apply text-3xl sm:text-4xl lg:text-[2.75rem] font-bold text-black leading-[100%]
    }
    h3{
      @apply text-3xl font-medium uppercase text-[#0E0E0E] leading-[100%]
    }

    p{
      @apply text-base font-normal leading-[134%]
  }
}



  @layer components{
    
    .menu-li-a{
      @apply text-sm font-medium text-primary inline-block hover:font-bold after:block after:font-bold after:content-[attr(data-title)] after:h-0 after:overflow-hidden after:invisible border-b-2 border-white transition-all duration-500 hover:border-secondary
    }
    
  }










  @utility container{ 
    @apply mx-auto px-4;
    @media (width >= 90rem /* 1440px */) {
          max-width: var(--breakpoint-1xl) /* 1440px */;
          padding-inline: 8.438rem    /* 135px */; 
      }
  }